<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form with Dynamic Image</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="style.css">
    <style>
        .dropdown-menu img {
            width: 50px;
        }

        .dropdown-toggle img {
            width: 50px;
        }
    </style>
</head>

<body>
    <div class="login-clean">
        <form method="post" action="/route/login">
            <h2 class="sr-only">Login Form</h2>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    select avatar
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"><img src="images/boy.png" alt="Boy"></a>
                    <a class="dropdown-item" href="#"><img src="images/woman (1).png" alt="Woman 1"></a>
                    <a class="dropdown-item" href="#"><img src="images/man (2).png" alt="Man 2"></a>
                    <a class="dropdown-item" href="#"><img src="images/woman (2).png" alt="Woman 2"></a>
                    <a class="dropdown-item" href="#"><img src="images/man.png" alt="Man"></a>
                    <a class="dropdown-item" href="#"><img src="images/woman.png" alt="Woman"></a>
                </div>
            </div>
            <div class="form-group"><input class="form-control" type="text" name="username" >USERNAME HERE</div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">ENTER ROOM</button></div>
            <!-- <a href="#" class="forgot">Forgot your email or password?</a> -->
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-item').on('click', function () {
                var selectedImage = $(this).find('img').attr('src');
                $('#dropdownMenuButton').html('<img src="' + selectedImage + '" alt="Selected Image">');
            });
        });
    </script>
</body>

</html>